.recordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-attachment: fixed;
    background: #91c5e7;
    padding: 2rem 0rem 2rem 0rem;
}

.recordButtonContainer {
    margin: 0rem 0.5rem 0rem 0.5rem;
    /* padding: 0.5rem, 0.5rem, 0rem, 0rem; */
}

.selectContainer {
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 30%;
}

.recordingTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-attachment: fixed;
    background: #91c5e7;
}